<div class="data-form">
    <form action="/courses/create" method="POST">
      <h2>Create a new course:</h2>
      <label for="inputName">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" autofocus>
  
      <label for="inputType">Select Food Type:</label>
      <select name="type" id="inputType" class="form-control">
        <option value="Beef">Beef</option>
        <option value="Pork">Pork</option>
        <option value="Chicken">Chicken</option>
        <option value="Fish">Fish</option>
      </select>

      <label for="inputPrice">Price</label>
      <input type="number" step="0.01" name="price" id="inputPrice" class="form-control" placeholder="Price">
  
      <label for="inputIngredient">Ingredient</label>
      <input type="text" name="ingredient" id="inputIngredient" class="form-control" placeholder="Ingredient">
      
      <label for="inputimageLink">imageLink</label>
      <input type="text" name="imageLink" id="inputimageLink" class="form-control" placeholder="imageLink">
  
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
  