  <div class="container">
    <header>
      <h1>Welcome!</h1>
      <a href="/"><button class="btn btn-primary">Back</button></a>
    </header>
    <main class="row">
      <section class="col-sm-6">
        <img src="images/menu/menu.jpg" alt="Menu Image">
      </section>
      <section class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <a href="/menus/meaty"><img src="images/menu/meaty.png" alt="Meaty"></a>
          </div>
          <div class="col-sm-4">
            <a href="/menu"><img src="images/menu/vegan.jpg" alt="Vegetables"></a>
          </div>
          <div class="col-sm-4">
            <a href="/menu"><img src="images/menu/kids.jpeg" alt="Kid Menu"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="/menus"><img src="images/food/starters.jpg" alt="Starters"></a>
          </div>
          <div class="col-sm-4">
            <a href="/menu"><img src="images/food/main_dishes.jpg" alt="Main Dishes"></a>
          </div>
          <div class="col-sm-4">
            <a href="/menu"><img src="images/menu/drink.jpg" alt="Drink"></a>
          </div>
        </div>
      </section>
    </main>
  </div>
